/* Place your CSS styles in this file */
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Chakra Petch';
}
h1 {
    color: rgb(222, 222, 222);
    text-align: left;
    font-family: 'Chakra Petch';
    font-size: x-large;
}
div{
    align-items: center;
    text-align: center;
    display: grid;
    width:100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p{
    color: rgb(221, 221, 221);
    
}
#barClick{
    color: rgb(244, 244, 244);
    float: right;
    background-color: black;
    font-size: large;
    font-weight: bolder;
    transform: rotate(-90deg);
}
.gameTitle{
    background-color: black;
    color: rgb(221, 221, 221);
    font-family: 'Chakra Petch';
    padding: 10px;
    cursor: pointer;
}
.categoryTitle{
    background-color: black;
    color: rgb(221, 221, 221);
    font-family: 'Chakra Petch';
    padding: 10px;
    cursor: pointer;
}
.subsectionTitle{
    background-color: black;
    color: rgb(221, 221, 221);
    font-family: 'Chakra Petch';
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .calculatorTitle{
        background-color: black;
        color: rgb(221, 221, 221);
        font-family: 'Chakra Petch';
        padding: 10px;
        border: 2px inset rgb(156, 156, 156);
        margin-bottom: 6px;

    }
    input[type=number] {
                width: 100px;
            }
}
@media not screen and (max-width: 600px) {
    .calculatorTitle{
        background-color: black;
        color: rgb(221, 221, 221);
        font-family: 'Chakra Petch';
        padding: 10px;
        border: 2px inset rgb(156, 156, 156);
        margin-bottom: 6px;

    }
}

#cal7{
    cursor: pointer;
}
.visualTitle{
    color: rgb(221, 221, 221);
    padding: 10px;
}
.graphVisual{
    color: rgb(221, 221, 221);
    text-align: center;
    border:1px solid black;
    width: 100%;
    height: 100%;
}
.revertTitle{
    background-color: black;
    color: rgb(221, 221, 221);
    font-family: 'Chakra Petch';
    padding: 10px;
    cursor: pointer;
}
