/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
div{
    text-align: center;
    display:block;
    width:100%;
}

.gameTitle{
    padding: 10px;
}
.categoryTitle{
    padding: 10px;
}
.subsectionTitle{
    padding: 10px;
}
.calculatorTitle{
    padding: 10px;
}
.visualTitle{
    padding: 10px;
}
.graphVisual{
    text-align: center;
    border:1px solid black;
    width: 100%;
    height: 100%;
}
.revertTitle{
    padding: 10px;
}
